<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{{ title }}</title>
</head>
<header>
    <h1>Welcome to the Library!</h1>
    <br>
    <br>
</header>
<body>
    <!-- <ul> -->
        <!-- <li clas="nav-link"><a href="/events">Home</a></li> -->
    <!-- </ul> -->
    {% block content %}{% endblock %}  
</body>



<footer></footer>
</html>