{% extends "base.html" %}

{% block content %}

<h2>Book Details:</h2>
    
        <section id="book-details">
            <ul><p>
            Title: {{ book.title }}
            <br><br>
            Author:{{ book.author }}
            <br><br>
            Genre: {{ book.genre }}
            <br><br>
            {% if book.checked_out %}
            <p>Book is currently checked out</p>
            {% endif %}
        </p></ul></section>
    <h4>
        <a href="http://localhost:4999/books">Back to all books</a>
    </h4>

    {% endblock %}